@font-face{
	font-family: 'League';
	src: url(../fuentes/League.otf);
}
*{
    text-decoration: none;
	box-sizing: border-box;
	animation-name: aparecer;
	animation-duration: 0.3s;
}
@mixin boton {
    font-size: 1.5em;
    padding: 10px;
    width: max-content;
    color: #cecece;
    background-color: #242424;
    font-family: 'Questrial', sans-serif;
    border-style: none;
    border-radius: 3px;
    
}
body{
    font-family: 'League', sans-serif;
    &::-webkit-scrollbar{
        width: 14px;
    }
    &::-webkit-scrollbar-thumb{
        background-color: #cecece;
        border: 2px solid #f3f3f3;
        border-radius: 7px;
    }
    ul{
        padding: 0;
    }
    a:link{
        color: #242424;
        text-decoration: none;
    }
    a:visited{
        color: #242424;
    }
}
header{
	text-decoration: none;
	display: flex;
	background-color:white;
	align-items: center;
	justify-content: space-between;
	height: 70px;
    .logo{
        font-size: 2em;
        font-weight: 200;
        color: #242424;
        text-shadow: 2px 2px 0px grey;
        padding:  0 50px 0 50px;
    }
    .nav{
	    margin-right: 20px;
        &__ul{
            margin: 0;
            z-index: 60;
            font-size: .8em;
            display: flex;
            list-style: none;
            color: #242424;
            text-shadow: .5px .5px 0px grey;
            & .nav__li{
                padding: 10px;
                transition: 0.3s;               
                &:hover{
                    background-color: #ebebeb;
                    border-radius: 5px;
                }
                ul{
                    position: absolute;
                    display: none;
                    li{
                        font-family: 'Questrial', sans-serif;
                        font-weight: 800;
                        font-size: 1.2em;
                        display: block;
                        padding: 8px;
                        background-color: #f3f3f3;
                        width: 250px;
                        margin-left: -9px;
                        &:hover{
                            background-color: #ebebeb;
                            transition: 0.1s;
                        }
                    }
                }
                &:hover ul{
                    display: block;
                    padding-top: 10px;
                }
            }
        }
    }
}
.oferta{
	text-align: center;
	z-index: 10;
    &__subtitulo{
        font-size: 1em;
        font-family: 'Questrial', sans-serif;
        font-weight: 600;
        color: #3f3f3f;
        display: block;
        margin: 5px 0 5px 0;
    }    
    .d-block{
        width: 100%;
        height: 750px;
        object-fit: cover;
    }
    .carousel-control-prev{
        background: rgb(255,255,255);
        background: linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.6334908963585435) 91%);
    }
    .carousel-control-next{
        background: rgb(255,255,255);
        background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.5186449579831933) 100%);
    }
}
.destacado{
	background-color: #242424;
    &__title{
        font-size: 2em;
        font-weight: 100;
        color: #f3eee9;
        text-align: center;
        margin: 0;
        padding: 40px 0 30px 0;
        letter-spacing: 2px;
    }
    &__topUno{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 70px;
        letter-spacing: 1px;
    }
    &__img{
        width: 300px;
        border-radius: 2px;
        box-shadow: 2px 2px #424242;
        margin-left: 60px;
    }
    &__info{
        width: 600px;
        margin-left: 30px;
    }
    &__nombre{
        font-size: 2em;
        font-weight: 600;
        font-family: 'Questrial', sans-serif;
        color: #f3f3f3;
        text-shadow: 1px 1px 0 black;
    }
    &__link{
        display: none;
        font-size: 1em;
        font-family: 'Questrial', sans-serif;
        margin: 0 0 10px 0;
        text-decoration: none;
        color: #f3f3f3;
    }
    &__link:visited{
        color: #f3f3f3;
    }
    &__descripcion{
        font-size: 1em;
        color: #f3f3f3;
        text-shadow: 1px 1px 0 black;
        font-family: 'Questrial', sans-serif;
    }
    &__precio{
        font-size: 1em;
        color: #f3f3f3;
        text-shadow: 1px 1px 0 black;
        padding: 20px;
        background-color: #3f3f3f;
        border-radius: 2px;
        display: inline-block;
    
    }
}
.lista{
	display: grid;
	grid-template-columns: 350px 350px 350px;
	grid-template-rows: 550px 550px;
	grid-column-gap: 30px;
	grid-row-gap: 30px;
	width: 100%;
	margin: 100px 0 100px 0;
	justify-content: center;
    text-align: center;
    &__img{
        width: 100%;
    }
    &__nombre{
        font-size: 1.2em;
        font-family: 'Questrial', sans-serif;
        font-weight: 600;
        margin: 20px 0 10px 0;
        color: #242424;
    }
    & article{
        padding: 10px;
        border-radius: 2px;
        &:hover{
        box-shadow: 0 0 7px #cecece;
        }
    }
}
.footer{
	/*background-color: #242424;*/
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #242424;
	height: 90px;
    &__copyright{
        font-size: .7em;
        font-weight: 500;
        font-family: 'Questrial', sans-serif;
        color: #f3f3f3;
        margin: 4px 0 8px 0;
    }
    &__icon{
        margin: 0 1px;
        width: 25px;
        transition: 0.3s;
        margin: 5px 0 10px 0;
        &:hover{
            transform: scale(1.1);
        }
    }
}
.seccion{
	font-size: 3em;
	color: #242424;
	text-align: right;
	margin: 60px 20px 100px 0;
	animation-name: aparecer;
	animation-duration: 2s;
	cursor: default;
}
.seccion-fondo{
	font-size: 9em;
	color: #8a8989;
	letter-spacing: 5px;
	position: absolute;
	top: 120px;
	left: 60px;
	animation-name: aparecerlight;
	animation-duration: 0.4s;
	opacity: .15;
	cursor: default;
}
@keyframes aparecer {
	0% {
	    opacity: 0;
	}
	100% {
	    opacity: 1;
	}
}
@keyframes aparecerlight {
	0% {
	    opacity: 0;
	}
	100% {
	    opacity: .15;
	}
} 

.productos{
	display: grid;
	grid-template-columns: 350px 350px 350px 350px;
	grid-template-rows: 570px 570px 570px;
	grid-column-gap: 10px;
	grid-row-gap: 40px;
	width: 100%;
	margin: 100px 0 100px 0;
	justify-content: center;
	text-align: center;
    &__box{
	padding: 10px;
    border-radius: 2px;
        &:hover{
            box-shadow: 0 0 7px #cecece;
        }
    }
    &__img{
        width: 100%;
    }
    &__nombre{
        @extend .lista__nombre;
        margin-bottom: 0;
    }
    &__precio{
        font-size: 1em;
        font-family: 'Questrial', sans-serif;
        font-weight: 200;
        color: #242424;
        margin: 0 0 10px 0;
    }
}
.articulo{
	display: flex;
	width: 100%;
	justify-content: center;
    margin-top: 10px;
    &__img{
        width: 550px
    }
    &__data{
        width: 30%;
        padding: 30px;
    }
    &__nombre{
        font-size: 2em;
        font-family: 'Questrial', sans-serif;
        margin: 40px 0 20px 0;
    }
    &__descripcion{
        font-size: 1.1em;
        font-family: 'Questrial', sans-serif;
        margin: 0 0 10px 0;
    }
    &__precio{
        font-size: 2em;
        font-family: 'Questrial', sans-serif;
        margin: 20px 0 20px 0;
    }
    &__carrito{
        @include boton;
    }
}
.nosotros{
	display: flex;
	justify-content: center;
	margin: 108px;
	align-items: center;
    &__img{
        width: 500px;
        height: 550px;
        margin-right: 40px;
        transition: 0.3s;
        object-fit: cover;
        &:hover{
            transform: scale(1.1);
        }
    }
    &__info{
        width: 800px;
    }
    &__titulo{
        font-size: 3em;
        margin-bottom: 30px;
        color: #242424;
    }
    &__descripcion{
        @extend .articulo__descripcion;
    }
    &__boton{
        @include boton;
    }
    .nosotros__boton a{
        color: #cecece;
    }
}
main{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 150px 0 100px 0;
	flex-wrap: wrap;
    .form{
        text-align: center;
        .form__contacto{
            background-color: #242424;
            display: inline-block;
            width: 700px;
            height: 750px;
            padding: 30px;
        }
        form label{
            font-size: 1.2em;
            font-family: 'Questrial', sans-serif;
            color: #f3f3f3;
            text-shadow: 2px 2px 0 #352A27;
            display: inline-block;
            margin: 5px;
            text-shadow: 1px 1px #423430;
        }
        .form__inputText{
            font-family: 'Questrial', sans-serif;
            font-size: 1.2em;
            color: #352A27;
            margin: 10px;
            padding-left: 15px;
            width: 65%;
            height: 40px;
            border: none;
            border-radius: 2px;
        }
        input:focus, textarea:focus{
            color: #352A27;
            outline: none;
            background-color: #dddada;
        }
        .form__textArea{
            font-family: 'Questrial', sans-serif;
            font-size: 1.2em;
            color: #352A27;
            margin: 10px;
            padding: 10px 0 0 15px;
            width: 65%;
            height: 200px;
            resize: none;
            border: none;
            border-radius: 2px;
        }
        .form__enviarBoton{
            font-family: 'Questrial', sans-serif;
            width: 65%;
            height: 40px;
            margin: 15px;
            color: #f3f3f3;
            background-color: #423430;
            border: none;
            border-radius: 2px;
        }
        .form__resetearBoton{
            font-family: 'Questrial', sans-serif;
            width: 65%;
            height: 40px;
            color: #423430;
            border: none;
            border-radius: 2px;
        }
    }
    .ubicacion{
        width: 700px;
        height: 750px;
        text-align: center;
        background-color: #e4e5e6;
        padding: 100px;
        &__map{
            border-radius: 2px;
            transition: 0.4s;
            width: 450px;
            height: 280px;
            &:hover{
                transform: scale(1.1);
            }
        }
        &__title{
            font-family: 'Questrial', sans-serif;
            font-size: 1.5em;
            color: #242424;
            margin: 50px 0 20px 0;
        }
        &__data{
            font-family: 'Questrial', sans-serif;
            font-size: 1.2em;
            color: #352A27;
            margin: 10px;
        }
        &__subtitle{
            font-family: 'Questrial', sans-serif;
            font-size: 1.5em;
            color: #242424;
            margin: 20px 0 5px 0;
        }
        &__redesIcon{
            width: 30px;
            margin: 10px 0 90px 0;
            transition: 0.2s;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}
@media only screen and (max-width: 1500px){
	.seccion{
		font-size: 3em;
		color: #242424;
		text-align: right;
		margin: 60px 20px 100px 0;
		animation-name: aparecer;
		animation-duration: 2s;
		cursor: default;
	}
	.seccion-fondo{
		display: inline-block;
		font-size: 7em;
		color: #8a8989;
		letter-spacing: 5px;
		position: absolute;
		top: 120px;
		left: 60px;
		animation-name: aparecerlight;
		animation-duration: 0.4s;
		opacity: .15;
		cursor: default;
	}
	.productos{
		grid-template-columns: 350px 350px 350px;
	}
}
@media only screen and (max-width: 1200px){
	.oferta{    
        .d-block{
            height: 600px;
        }
    }
    .destacado{
        &__title{
            font-size: 1.8em;
        }
        &__nombre{
            font-size: 1.5em;
        }
        &__precio{
            font-size: 1em;
        }  
    }
	.lista{
		display: grid;
		grid-template-columns: 300px 300px 300px;
		grid-template-rows: 470px 470px;
	}
	.seccion{
		font-size: 2.5em;
		color: #242424;
		text-align: right;
		margin: 60px 20px 100px 0;
		animation-name: aparecer;
		animation-duration: 2s;
		cursor: default;
	}
	.seccion-fondo{
		display: inline-block;
		font-size: 5em;
		color: #8a8989;
		letter-spacing: 5px;
		position: absolute;
		top: 120px;
		left: 60px;
		animation-name: aparecerlight;
		animation-duration: 0.4s;
		opacity: .15;
		cursor: default;
	}
	.productos{
		grid-template-columns: 300px 300px 300px;
		grid-template-rows: 490px 490px 490px 490px;
	}
    .articulo{
        margin: 30px 0 60px 0;
        &__img{
            width: 500px
        }
        &__data{
            width: 550px;
            padding: 30px;
        }
    }
    .nosotros{
        flex-direction: column;
        margin: 0 0 100px 0;
        &__img{
            width: 80%;
            height: 500px;
            margin: 0 0 60px 0;
            transition: 0.3s;
            object-fit: cover;
            &:hover{
                transform: scale(1.1);
            }
        }
        &__info{
            width: 80%;
        }
        &__descripcion{
            margin-bottom: 20px
        }
    }
    main{
        margin: 0 0 100px 0;
    }
}
@media only screen and (max-width: 1024px){
	.oferta{
        .d-block{
            height: 550px;
        }
    }
    .destacado{
        &__topUno{
            justify-content: center;
            align-items: center;
            justify-items: center;
        }
        &__img{
            width: 250px;
        }
        &__info{
            width: max-content;
        }
        &__link{
            display: block;
        }
        &__descripcion{
            display: none;
        }
    }
	.lista{
		display: grid;
		grid-template-columns: 300px 300px;
		grid-template-rows: 480px 480px 480px;
	}
	.seccion{
		font-size: 2em;
		color: #242424;
		text-align: right;
		margin: 60px 20px 100px 0;
		animation-name: aparecer;
		animation-duration: 2s;
		cursor: default;
	}
	.seccion-fondo{
		display: inline-block;
		font-size: 4em;
		color: #8a8989;
		letter-spacing: 5px;
		position: absolute;
		top: 120px;
		left: 60px;
		animation-name: aparecerlight;
		animation-duration: 0.4s;
		opacity: .15;
		cursor: default;
	}
	.productos{
		grid-template-columns: 300px 300px;
		grid-template-rows: 390px 390px 390px 390px 390px 390px;
		grid-column-gap: 40px;
        &__img{
            height: 300px;
            object-fit: cover;
        }
	}
    .articulo{
        align-items: center;
        flex-direction: column;
        &__img{
            width: 80%;
            height: 600px;
            object-fit: cover;
        }
        &__data{
            width: 80%;
        }
    }
    .nosotros{
        &__img{
            width: 90%;
            height: 450px;
            object-fit: cover;
            transition: 0.3s;
            &:hover{
                transform: scale(1.1);
            }
        }
        &__info{
            width: 90%;
        }
        &__titulo{
            font-size: 2em;
            margin-bottom: 30px;
            color: #242424;
        }
        &__descripcion{
            margin-bottom: 20px
        }
    }
}
@media only screen and (max-width: 768px){
    .oferta{
        .d-block{
            height: 430px;
        }
    }
    .destacado{
        &__topUno{
            justify-content: center;
            align-items: center;
            justify-items: center;
        }
        &__img{
            width: 200px;
        }
        &__info{
            width: max-content;
        }
        &__link{
            display: block;
        }
        &__descripcion{
            display: none;
        }
    }
	.lista{
		display: grid;
		grid-template-columns: 280px 280px;
		grid-template-rows: 420px 420px 420px;
        &__img{
            height: 300px;
            object-fit: cover;
        }
    }
	.seccion{
		font-size: 2em;
		color: #242424;
		text-align: right;
		margin: 40px 20px 0px 0;
		animation-name: aparecer;
		animation-duration: 2s;
		cursor: default;
	}
	.seccion-fondo{
		display: none;
	}
	.productos{
		margin: 30px 0 50px 0;
		grid-template-columns: 300px 300px;
		grid-template-rows: 390px 390px 390px 390px 390px 390px;
		grid-column-gap: 30px;
        &__img{
            height: 300px;
            object-fit: cover;
	    }
	}
    .articulo{
        &__img{
            width: 80%;
            height: 400px;
            object-fit: cover;
        }
        &__data{
            width: 80%;
        }
    }
    .nosotros{
        &__img{
            margin-top: 50px;
            width: 90%;
            height: 400px;
            object-fit: cover;
            transition: 0.3s;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
    main{
        margin: 60px 0 100px 0;
        .form{
            .form__contacto{
                width: 90vw;
                height: 750px;
                padding: 20px 0 20px 0;
            }
            form label{
                font-size: 1em;
                margin: 5px;
            }
            .form__inputText{
                width: 80%;
                font-size: 1em;
            }
            .form__textArea{
                font-size: 1em;
                padding: 10px 0 0 15px;
                width: 80%;
            }
            .form__enviarBoton{
                width: 80%;
            }
            .form__resetearBoton{
                width: 80%;
            }
        }
        .ubicacion{
            
            height: 680px;
            width: 90vw;
            padding: 90px 0 0 0;
            &__map{
                width: 80%;
            }
            &__title{
                font-size: 1.2em;
            }
            &__data{
                font-family: 'Questrial', sans-serif;
                font-size: 1em;
            }
            &__subtitle{
                font-family: 'Questrial', sans-serif;
                font-size: 1.2em;
                color: #242424;
                margin: 20px 0 5px 0;
            }
            &__redesIcon{
                width: 25px;
                margin: 10px 0 0px 0;
                transition: 0.2s;
            }
        }
    }
}

@media only screen and (max-width: 600px){
	header{
		text-decoration: none;
		display: flex;
		flex-direction: column;
		background-color:white;
		align-items: center;
		justify-content: space-between;
		height: 10vh;
        padding-bottom: 105px;
        .logo{
            font-size: 2em;
            font-weight: 200;
            margin: 10px 0 0 0;
            color: #242424;
            text-shadow: 2px 2px 0px grey;
        }
        nav{
            margin: 0;
        }
	}
    .oferta{
        .carousel-item{
            height: 320px;
        }
        &__subtitulo{
            display: none;
        }  
    }
    .destacado{
        &__title{
            font-size: 1em;
            padding: 25px;
        }
        &__topUno{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            justify-items: center;
            padding: 0 0 20px 0;
        }
        &__img{
            margin: 0;
            width: 70%;
            height: 250px;
            object-fit: cover;
        }
        &__info{
            width: max-content;
            margin: 20px 0 0 0;
            text-align: center;
        }
        &__link{
            display: block;
        }
        &__nombre{
            font-size: 1em;
        }
        &__link{
            font-size: 1em;
        }
        &__precio{
            font-size: .7em;
            padding: 13px;
        }
        &__descripcion{
            display: none;
        }
    }
	.lista{
		display: grid;
		grid-template-columns: 200px 200px;
		grid-template-rows: 350px 350px 350px;
        &__img{
            height: 280px;
            object-fit: cover;
        }
        &__nombre{
            font-size: 1em;
        }
	}
	.seccion{
		font-size: 1.5em;
		text-align: center;
		margin: 10px 0 0 0;
	}
	.seccion-fondo{
		display: none;
	}
	.productos{
		margin: 10px 0 50px 0;
		grid-template-columns: 60vw;
        &__img{
            height: 300px;
            object-fit: cover;
        }
	}
    .articulo{
        align-items: center;
        flex-direction: column;
        &__img{
            width: 90%;
            height: 330px;
            object-fit: cover;
        }
        &__data{
            width: 85%;
            padding: 0;
        }
    }
    .nosotros{
        &__img{
            margin-top: 50px;
            width: 90%;
            height: 300px;
            object-fit: cover;
            transition: 0.3s;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
    main{
        margin: 40px 0 100px 0;
    }
}
@media only screen and (max-width: 480px){
    header{
        .nav{
            margin-right: 0px;
            .nav__ul{
                margin: 10px 0;
                .nav__li{
                padding: 5px;
                transition: 0.3s;
                font-size: .9em;
                } 
            } 
        }
    }
    .oferta{
        height: 200px;
        .carousel{
            height: 200px;
            .d-block{
                height: 200px;
            }
        }
    }
	.destacado__img{
		margin: 0;
		width: 70%;
		height: 200px;
		object-fit: cover;
	}
	.lista{
		display: grid;
		grid-template-columns: 80vw;
		grid-template-rows: 350px 350px 350px 350px;	
        &__img{
            height: 280px;
            object-fit: cover;
        }
        &__nombre{
            font-size: 1em;
        }
    }
	.productos{
		margin: 10px 0 50px 0;
		grid-template-columns: 70vw;
		&__img{
		height: 300px;
		object-fit: cover;
	    }
    }
    .articulo{
        align-items: center;
        flex-direction: column;
        &__img{
            width: 90%;
            height: 280px;
            object-fit: cover;
        }
        &__data{
            width: 85%;
            padding: 0;
        }
        &__descripcion{
            font-size: 1em;
        }
        &__precio{
            font-size: 1.5em;
        }
        &__carrito{
            font-size: 1em;
        }
    }
    .nosotros{
        &__img{
            margin-top: 30px;
            width: 85%;
            height: 300px;
            object-fit: cover;
            transition: 0.3s;
            &:hover{
                transform: scale(1.1);
            }
        }
        &__info{
            width: 85%;
        }
        &__titulo{
            font-size: 1.5em;
            margin-bottom: 30px;
            color: #242424;
        }
        &__descripcion{
            margin-bottom: 20px;
            font-size: 1em;
        }
    }
}