.articulo{
	display: flex;
	width: 100%;
	justify-content: center;
    margin-top: 10px;
    &__img{
        width: 550px
    }
    &__data{
        width: 30%;
        padding: 30px;
    }
    &__nombre{
        font-size: 2em;
        font-family: 'Questrial', sans-serif;
        margin: 40px 0 20px 0;
    }
    &__descripcion{
        font-size: 1.1em;
        font-family: 'Questrial', sans-serif;
        margin: 0 0 10px 0;
    }
    &__precio{
        font-size: 2em;
        font-family: 'Questrial', sans-serif;
        margin: 20px 0 20px 0;
    }
    &__carrito{
        @include boton;
        transition: 0.2s;
        &:hover{
            color:#ebebeb;
            transform: scale(1.1);
        }
        &:active{
            transform: scaleZ(-1);
        }
    }
}