.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 150px 0;
    .form{
        text-align: center;
        background-color: #242424;
        display: inline-block;
        width: 700px;
        height: 750px;
        .form__contacto{
            background-color: #242424;
            display: inline-block;
            width: 700px;
            height: 750px;
            padding: 30px;
        }
        form label{
            font-size: 1.2em;
            font-family: 'Questrial', sans-serif;
            color: #f3f3f3;
            text-shadow: 2px 2px 0 #352A27;
            display: inline-block;
            margin: 5px;
            text-shadow: 1px 1px #423430;
        }
        .form__inputText{
            font-family: 'Questrial', sans-serif;
            font-size: 1.2em;
            color: #352A27;
            margin: 10px;
            padding-left: 15px;
            width: 65%;
            height: 40px;
            border: none;
            border-radius: 2px;
        }
        input:focus, textarea:focus{
            color: #352A27;
            outline: none;
            background-color: #dddada;
        }
        .form__textArea{
            font-family: 'Questrial', sans-serif;
            font-size: 1.2em;
            color: #352A27;
            margin: 10px;
            padding: 10px 0 0 15px;
            width: 65%;
            height: 200px;
            resize: none;
            border: none;
            border-radius: 2px;
        }
        .form__enviarBoton{
            font-family: 'Questrial', sans-serif;
            width: 65%;
            height: 40px;
            margin: 15px;
            color: #f3f3f3;
            background-color: #423430;
            border: none;
            border-radius: 2px;
            transition: 0.2s;
            &:hover{
                transform: scale(1.1);
            }
            &:active{
                color: #423430;
                transform: scaleZ(-1);
            }
        }
        .form__resetearBoton{
            font-family: 'Questrial', sans-serif;
            width: 65%;
            height: 40px;
            color: #423430;
            border: none;
            border-radius: 2px;
            transition: 0.2s;
            &:hover{
                transform: scale(1.1);
            }
            &:active{
                transform: scaleZ(-1);
            }
        }
    }
    .ubicacion{
        width: 700px;
        height: 750px;
        text-align: center;
        background-color: #e4e5e6;
        padding: 100px;
        &__map{
            border-radius: 2px;
            transition: 0.4s;
            width: 450px;
            height: 280px;
            &:hover{
                transform: scale(1.1);
            }
        }
        &__title{
            font-family: 'Questrial', sans-serif;
            font-size: 1.5em;
            color: #242424;
            margin: 50px 0 20px 0;
            display: inline-block;
            width: 100%;
        }
        &__data{
            font-family: 'Questrial', sans-serif;
            font-size: 1.2em;
            color: #352A27;
            margin: 10px;
            display: inline-block;
            width: 100%;
        }
        &__subtitle{
            font-family: 'Questrial', sans-serif;
            font-size: 1.5em;
            color: #242424;
            margin: 10px 0 5px 0;
            display: inline-block;
            width: 100%;
        }
        &__redesIcon{
            width: 30px;
            margin: 10px 2px 90px 2px;
            transition: 0.2s;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}