.footer{
	/*background-color: #242424;*/
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #242424;
	height: 90px;
    &__copyright{
        font-size: .7em;
        font-weight: 500;
        font-family: 'Questrial', sans-serif;
        color: #f3f3f3;
        margin: 4px 0 8px 0;
        
    }
    a{
            text-decoration: none;
        }
    &__icon{
        margin: 0 1px;
        width: 25px;
        transition: 0.3s;
        margin: 5px 0 10px 0;
        &:hover{
            transform: scale(1.1);
        }
    }
}