header{
	text-decoration: none;
	display: flex;
	background-color:white;
	align-items: center;
	justify-content: space-between;
	height: 70px;
    .logo{
        font-size: 2em;
        font-weight: 200;
        color: #242424;
        text-shadow: 2px 2px 0px grey;
        padding:  0 50px 0 50px;
    }
    .nav{
	    margin-right: 20px;
        &__ul{
            margin: 0;
            z-index: 60;
            font-size: .8em;
            display: flex;
            list-style: none;
            color: #242424;
            text-shadow: .5px .5px 0px grey;
            & .nav__li{
                padding: 10px;
                transition: 0.3s;               
                &:hover{
                    background-color: #ebebeb;
                    border-radius: 5px;
                }
                a:link{
                    color: #242424;
                    text-decoration: none;
                }
                a:visited{
                    color: #242424;
                }
                ul{
                    position: absolute;
                    display: none;
                    padding: 0;
                    li{
                        font-family: 'Questrial', sans-serif;
                        font-weight: 600;
                        font-size: 1.4em;
                        text-shadow: none;
                        display: block;
                        padding: 8px;
                        background-color: #f3f3f3;
                        width: 250px;
                        margin-left: -9px;
                        &:hover{
                            background-color: #ebebeb;
                            transition: 0.1s;
                        }
                    }
                }
                &:hover ul{
                    display: block;
                    padding-top: 10px;
                }
            }
        }
    }
}