.nosotros{
	display: flex;
	justify-content: center;
	margin: 108px;
	align-items: center;
    &__img{
        width: 500px;
        height: 550px;
        margin-right: 40px;
        transition: 0.3s;
        object-fit: cover;
        &:hover{
            transform: scale(1.1);
        }
    }
    &__info{
        width: 800px;
    }
    &__titulo{
        font-size: 3em;
        margin-bottom: 30px;
        color: #242424;
    }
    &__descripcion{
        @extend .articulo__descripcion;
    }
    &__boton{
        @include boton;
        transition: 0.2s;
        &:hover{
            color:#ebebeb;
            transform: scale(1.1);
        }
        &:active{
            transform: scaleZ(-1);
        }
    }
    .nosotros__boton a{
        color: #cecece;
    }
}