.productos{
	display: grid;
	grid-template-columns: 350px 350px 350px 350px;
	grid-template-rows: 570px 570px 570px;
	grid-column-gap: 10px;
	grid-row-gap: 40px;
	width: 100%;
	margin: 100px 0 100px 0;
	justify-content: center;
	text-align: center;
    &__box{
	padding: 10px;
    border-radius: 2px;
        &:hover{
            box-shadow: 0 0 7px #cecece;
        }
    }
    &__img{
        width: 100%;
    }
    &__nombre{
        @extend .lista__nombre;
        margin-bottom: 0;
    }
    &__precio{
        font-size: 1em;
        font-family: 'Questrial', sans-serif;
        font-weight: 200;
        color: #242424;
        margin: 0 0 10px 0;
    }
}